/* ======================================================1160================================ */
@media (max-width: 1160px) {
    .product-item {
        padding: 10px 20px 20px;
    }
}
/* ======================================================1010================================ */
@media (max-width: 1010px) {
    .product-products {
        flex-wrap: wrap;
    }    
    .product-item {
        padding: 25px 40px 30px;
    }
}
/* ======================================================600================================ */
@media (max-width: 600px) {
    .product-products {
        display: block;
    }
    .product-item {
        margin: 0 auto 20px auto;
    }
}
/* ======================================================460================================ */
@media (max-width: 460px) {
    .product-title {
        font-size: 35px;
        line-height: 42px;
    }
    .product {
        margin-bottom: 70px;
    }
}