/* ======================================================1000================================ */
@media (max-width: 1000px) {
    .specials-container {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
    }
    .specials {
        margin-bottom: 80px;
    }
}
/* ======================================================793================================ */
@media (max-width: 793px) {
    .specials-item4 {
        margin-right: 34px;
    }
}
/* ======================================================535================================ */
@media (max-width: 535px) {
    .specials-item {
        padding: 91px 0 0px 0px;
        background-position: 50% 0px;
    }
    .specials-item4 {
        margin-right: 20px;
    }
    .specials {
        margin-bottom: 30px;
    }
}
/* ======================================================350================================ */
@media (max-width: 350px) {
    .specials-container {
        gap: 20px;
    }
}